<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RakeRunner Suite">
  <test name="RakeRunner Tests">
    <classes>
      <class name="jetbrains.slow.plugins.rakerunner.RakeBuildScriptMessagesTest"/>
      <class name="jetbrains.slow.plugins.rakerunner.RakeBuildScriptBuildLogTest"/>

      <class name="jetbrains.slow.plugins.rakerunner.RSpecBuildLogTest"/>
      <class name="jetbrains.slow.plugins.rakerunner.RSpecMessagesTest"/>

      <class name="jetbrains.slow.plugins.rakerunner.ShouldaBuildLogTest"/>
      <class name="jetbrains.slow.plugins.rakerunner.ShouldaMessagesTest"/>

      <class name="jetbrains.slow.plugins.rakerunner.TestSpecBuildLogTest"/>
      <class name="jetbrains.slow.plugins.rakerunner.TestSpecMessagesTest"/>

      <class name="jetbrains.slow.plugins.rakerunner.TestUnitBuildLogTest"/>
      <class name="jetbrains.slow.plugins.rakerunner.TestUnitMessagesTest"/>

      <class name="jetbrains.slow.plugins.rakerunner.CucumberMessagesTest"/>
      <class name="jetbrains.slow.plugins.rakerunner.CucumberBuildLogTest"/>

      <class name="jetbrains.slow.plugins.rakerunner.SupportedTestFrameworkTest"/>
    </classes>
  </test>
</suite>
