<component name="ArtifactManager">
  <artifact name="plugin">
    <output-path>$PROJECT_DIR$/out/artifacts/plugin</output-path>
    <properties id="ant-postprocessing">
      <options enabled="true" />
    </properties>
    <root id="root">
      <element id="directory" name="agent">
        <element id="archive" name="rake-runner.zip">
          <element id="archive" name="rake-runner-agent.jar">
            <element id="module-output" name="rake-runner-agent" />
          </element>
          <element id="archive" name="rake-runner-common.jar">
            <element id="module-output" name="rake-runner-common" />
          </element>
          <element id="file-copy" path="$PROJECT_DIR$/rake-runner-agent/teamcity-agent-plugin.xml" output-file-name="teamcity-plugin.xml" />
          <element id="directory" name="rb">
            <element id="dir-copy" path="$PROJECT_DIR$/lib/rb" />
          </element>
        </element>
      </element>
      <element id="directory" name="server">
        <element id="archive" name="rake-runner-common.jar">
          <element id="module-output" name="rake-runner-common" />
        </element>
        <element id="archive" name="rake-runner-server.jar">
          <element id="module-output" name="rake-runner-server" />
        </element>
        <element id="archive" name="rake-runner-resources.jar">
          <element id="directory" name="buildServerResources">
            <element id="dir-copy" path="$PROJECT_DIR$/rake-runner-server/resources" />
          </element>
        </element>
      </element>
      <element id="file-copy" path="$PROJECT_DIR$/rake-runner-server/teamcity-server-plugin.xml" output-file-name="teamcity-plugin.xml" />
    </root>
  </artifact>
</component>